HELP.md

# Build
target/
build/
*.class

# Logs
logs/
*.log

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
